*.csv
data/
__pycache__/
backtest/
data/ETHUSDT-1h-2025-05.csv
data/ETHUSDT-1h-2025-04.csv
data/ETHUSDT-1h-2025-03.csv
data/ETHUSDT-1h-2025-02.csv
data/ETHUSDT-1h-2025-01.csv
data/ETHUSDT-1h-2024-12.csv
data/ETHUSDT-1h-2024-11.csv
data/BTCUSDT-1h-2025-05.csv
data/BTCUSDT-1h-2025-04.csv
data/BTCUSDT-1h-2025-03.csv
data/BTCUSDT-1h-2025-02.csv
data/BTCUSDT-1h-2025-01.csv
data/BTCUSDT-1h-2024-12.csv
data/BTCUSDT-1h-2024-11.csv
data/.DS_Store
__pycache__/utils.cpython-313.pyc
__pycache__/timebased_rebalance.cpython-313.pyc
__pycache__/ratiobased_rebalance.cpython-313.pyc
__pycache__/holder.cpython-313.pyc
.DS_Store
